.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height : 100vh;
    position: relative;
    vertical-align: top;
    transform-origin: center top;
    transform: translateZ(-2px) scale(3);
    // transform: translateZ(-3px) scale(4);
    // translateZ = x * -2px   and   scale = 1 + (x * 2)  
}

.logo {
    transform: translateZ(-1.18px) scale(2.18);
    height: 0;
}

.logoText {
    font-size: 2rem;
    letter-spacing: 1.3rem;
    color: $white;
    text-align: center;
}